/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-border: #ddd;
    --color-text: #707070;
    --color-title: #333;
    --color-default: #fff;
    --color-differencial: #050505e6;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #050505e6;
}

main {
    position: relative;
    max-width: 800px;
    width: 100%;
    background: var(--color-default);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
    color: var(--color-title);
    font-weight: 500;
    text-align: center;
}

form {
    margin-top: 30px;
}

.input-box {
    width: 100%;
    margin-top: 20px;
}

input:focus {
    border: 3px solid var(--color-differencial);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-box label {
    color: var(--color-title);
}

form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--color-text);
    margin-top: 8px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.column {
    display: flex;
    column-gap: 15px;
}

.gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: var(--color-title);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.gender {
    column-gap: 5px;
}

.gender input {
    accent-color: var(--color-differencial);
}

form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: var(--color-text);
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box {
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid var(--color-border);
    color: var(--color-text);
    font-size: 1rem;
}

.button-submit {
    height: 55px;
    width: 100%;
    color: var(--color-default);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: var(--color-differencial);
}

.button-submit:hover {
    background: #555555e6;
}

@media screen and (max-width: 500px) {
    body {
        padding: 0;
    }

    .column {
        flex-wrap: wrap;
    }

    form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}