form {
    font-size: 18px;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 14px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input, button {
    cursor: pointer;
    border: none;
    outline: none;
}

input {
    text-align: center;
    width: 100%;
}

button {
    padding: 10px;
    background-color: var(--color-light);
}