/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");

/*===== variaveis =====*/
:root {
  --header-height: 3rem;

  /*========== cores ==========*/
  --first-color: #DA2535;
  --first-color-alt: #C42130;
  --first-color-send: #DA2535;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #f5f4f4;
  --circle-color: #181818;
  --button-prod: #5b5757;
  --button-color: #5b5757;
  --search-color: #5B5757;
  --contact-color: #C42130;

  /*========== tipografia ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== fonte ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== margens ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== base ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== dark variaveis ==========*/
body.dark-theme {
  --first-color-send: #161212;
  --title-color: #F3F1F1;
  --text-color: #D1C7C8;
  --body-color: #111010;
  --container-color: #181818;
  --circle-color: #f5f4f4;
  --button-prod: #D1C7C8;
  --button-color: #D1C7C8;
  --search-color: #FFF;
  --contact-color: #181818;
}

.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== classes ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== layout ==========*/
.main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.progress {
  height: 15px;
  background-color: var(--container-color);
  position: relative;
  width: 70%;
  margin-bottom: 10px;
}

.progress .progress-bar {
  position: absolute;
  height: 100%;
  background-color: var(--button-color);
  animation: progress-animation 6s infinite;
  border-radius: 10px;
}


@keyframes progress-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%
  }

}

.swal2-title {
  background-color: var(--container-color);
  color: var(--title-color);
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: justify;
  padding-bottom: 5px;
  padding: 20px;
  border-radius: 10px;
}

.swal2-popup {
  background-color: var(--container-color);
  border-radius: 10px;
  height: 0;
}

/*========== nav ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav-item {
  margin-bottom: var(--mb-3);
}

.nav-link,
.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-link {
  transition: .3s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* style menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* ativaçao */
.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/* scroll top */
.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(218, 37, 53, .5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scroll-top:hover {
  background-color: var(--first-color);
}

.scroll-top-icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== home ==========*/
.home-container {
  row-gap: .5rem;
}

.home-content p {
  text-align: justify;
}

.home-content button {
  border: none;
  width: 50%;
  height: 40px;
  padding: 5px 5px;
  cursor: pointer;
}

.home-division-image {
  position: relative;
  display: inline-block;
}

.home-circle {
  width: 300px;
  height: 300px;
  background-color: var(--circle-color);
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
}

.home-division-image img {
  position: absolute;
  top: -150px;
  display: block;
  width: 1000px;
  z-index: 2;
}

.home-title {
  font-size: 43px;
  letter-spacing: 3px;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home-description {
  margin-bottom: var(--mb-3);
}

/*========== cookies ==========*/
.cookie-container {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  width: 100%;
  bottom: 2rem;
  z-index: 1000;
}

.cookie-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background: white;
  max-width: 520px;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  opacity: 0;
  transform: translateY(1rem);
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
  to {
    transform: initial;
    opacity: initial;
  }
}

.cookie-preference label {
  margin-right: 1rem;
}

.cookies-save-button {
  grid-column: 2;
  grid-row: 1/3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--first-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .cookie-content {
    grid-template-columns: 1fr;
  }

  .cookies-save-button {
    grid-column: 1;
    grid-row: 3;
  }
}

/*========== botoes ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  margin-top: 10px;
  height: 50px;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*========== sobre ==========*/
.about-description,
.product-description {
  margin-bottom: var(--mb-2);
  text-align: justify;
}

.product-option {
  display: inline-block;
  border: 2px solid #D1C7C8;
  outline: none;
  background-color: var(--container-color);
  color: var(--title-color);
  font-size: var(--font-bold);
  border-radius: .5rem;
  transition: .3s;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.product-buy {
  display: inline-block;
  outline: none;
  background-color: var(--first-color);
  color: #fff;
  border-radius: .5rem;
  transition: .3s;
  margin-top: 10px;
  padding-top: 5px;
  height: 40px;
  width: 100%;
  text-align: center;
}

.about-content p {
  margin-bottom: var(--mb-2);
  text-align: center;
}

.product-image-detailed,
.about-image {
  justify-self: center;
}

.product-image-detailed img {
  width: auto;
  height: auto;
}

.product-button-redirect {
  background-color: var(--first-color-alt);
  color: #fff;
  border: solid 1px var(--button-product);
  border-radius: 15%;
}

.product-button-redirect:hover {
  border-color: #C42130;
}

.return-button {
  position: relative;
  top: 70px;
  left: 20px;
  z-index: 1;
}

/*========== calçados ==========*/
.products-container,
.accessory-container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.product-content {
  position: relative;
  display: grid;
  padding: .25rem .75rem .75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
  border-radius: 1rem;
}

.product-content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.product-image {
  width: 110px;
  justify-self: center;
  margin-bottom: .25rem;
}

.product-title,
.product-category {
  text-align: center;
}

.product-title {
  font-size: var(--normal-font-size);
}

.product-category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.product-preco {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.product-button-redirect {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: .5rem .625rem;
  border-radius: 1rem 0 1rem 0;
}

.search {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid var(--search-color);
  outline: none;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  width: 74%;
  position: relative;
  left: 13%;
  margin: 0 5% 5% 0;
}

.search img {
  width: 20px;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
  color: var(--search-color);
  background-color: transparent;
}

.search input::placeholder {
  color: var(--search-color);
}

::-webkit-input-placeholder {
  color: #D1C7C8;
}

.product-image-detailed {
  width: 100%;
}

.product-image-detailed img {
  position: relative;
  top: 0;
  left: 0;
  min-height: auto;
  min-width: 400px;
}

/*========== contato ==========*/
.contact {
  margin: 0 20%;
  border-radius: 10px;
}

.contact-container {
  background-color: var(--contact-color);
}

.contact-title,
.contact-description {
  color: #fff;
}

.contact-title {
  text-align: center;
}

.contact-description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.contact-input {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .51rem;
  border-radius: .4rem;
}

.contact-label {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: .4rem;
}

.contact-input {
  width: 100%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.contact-input-different {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  border-radius: .4rem;
}

.contact-input,
.contact-input-different::placeholder {
  font-family: var(--body-font);
}

.contact-send-button {
  width: 40%;
  border: none;
  margin-left: 30%;
  margin-top: .5rem;
  background-color: #fff;
  color: var(--first-color-send);
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.input span.error {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 40%;
  height: 1%;
  padding: 0;
  background-color: var(--first-color);
  color: #fff;
}

.input span.error.active {
  border: 1px solid;
  padding: 0.4em;
}

/*========== footer ==========*/
.footer-container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer-logo {
  color: var(--title-color);
}

.footer-title {
  margin-bottom: var(--mb-2);
}

.footer-logo,
.footer-title {
  font-size: var(--h3-font-size);
}

.footer-link {
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer-link:hover {
  color: var(--first-color);
}

.footer-social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer-social:hover {
  color: var(--first-color);
}

.footer-copywrite {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

.product-category,
.product-title {
  text-align: center;
}

/*========== responsividade ==========*/
@media screen and (max-width: 359px) {
  .product-image-detailed,
  .about-image {
    width: 100%;
  }

  .contact-title {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .home-container,
  .product-container,
  .about-container,
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .home-container {
    padding: 5rem 0 0;
  }

  .section-title-center {
    text-align: initial;
  }

  .about-content {
    text-align: justify;
  }

  .product-image-detailed,
  .about-image {
    width: 100%;
  }

  .about-image {
    order: -1;
  }

  .product-category,
  .product-title {
    text-align: center;
  }

  .product-container {
    background-color: var(--container-color);
  }

  .about-content p {
    text-align: justify;
  }

  .contact-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav-toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home-container {
    padding: 7rem 2rem 0;
  }

  .product-container,
  .about-container {
    padding: 0 2rem;
  }

  .product-container {
    background-color: var(--container-color);
  }

  .products-container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .product-content {
    padding: .5rem 1.5rem 1.5rem;
  }

  .product-image {
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .product-category,
  .product-title {
    text-align: center;
  }

  .product-button-redirect {
    padding: .75rem;
  }

  .contact {
    background: none;
  }

  .contact-container {
    padding: 2rem;
    border-radius: 1.5rem;
  }

  .footer-content {
    position: relative;
    left: 25%;
  }

  .product-category,
  .product-title {
    text-align: center;
  }

  .about-content p {
    text-align: justify;
  }

  .contact-title {
    text-align: center;
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .product-image-detailed,
  .about-image {
    width: 469px;
  }

  .home-container,
  .product-container,
  .about-container,
  .contact-container {
    column-gap: 5rem;
  }

  .contact-title {
    text-align: center;
  }

  .product-container {
    width: 920px;
    height: auto;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--container-color);
  }

  .product-image-detailed {
    position: relative;
    left: -15%;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
  }

  .product-image {
    max-width: 110px;
    max-height: 74px;
    width: auto;
    height: auto;
  }

  .product-category,
  .product-title,
  .contact-title {
    text-align: center;
  }

  .about-content p {
    text-align: justify;
  }
}