@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-primary: #FFF;
    --color-secundary: #181818;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color-secundary);
    padding: 12px 20px;
}

.logo img {
    width: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu li {
    padding-left: 30px;
}

.menu-item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--color-primary);
    text-align: center;
    transition: all 0.15s ease-in-out;
}

.menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-primary);
    transition: 0.15s ease-in-out;
}

.menu-item:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    display: none;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color-secundary);
        transition: all 0.2s ease-in-out;
        border-radius: 0 0 0 100px;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu-item {
        padding: 10px;
    }

    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .close-menu {
        top: 20px;
        right: 20px;
    }

    .open-menu,
    .close-menu {
        position: absolute;
        color: var(--color-primary);
        cursor: pointer;
        font-size: 1.5rem;
        display: block;
    }
}