.button-home {
  width: 40px;
  background-color: #93a52a;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 5px;
}

.button-home:hover {
  background-color: #afcc0c;
}