@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css");

:root {
  --primary-color: #dc2626;
  --text-dark: #171717;
  --text-light: #78716c;
  --extra-light: #f9f9f9;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
}

header {
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  gap: 1rem;
  background-color: var(--extra-light);
  z-index: 1;
}

.nav-logo img {
  max-width: 100px;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.nav-link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.nav-link a:hover {
  color: var(--primary-color);
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
}

.section-title {
  margin: auto;
  padding-bottom: 0.75rem;
  width: fit-content;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 2rem;
}

.section-title::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100px;
  background-color: var(--primary-color);
}

.section-title span {
  color: var(--primary-color);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.home-container {
  padding-top: 0;
}

.story-container .section-title {
  margin-bottom: 2rem;
}

.story-container p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  text-align: justify;
}

.evolution-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.evolution-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.evolution-nav a {
  padding: 0.75rem 0;
  font-weight: bold;
  color: var(--text-light);
  border-top: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

.evolution-nav a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.evolution-nav a.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.evolution-nav img {
  max-width: auto;
  height: 600px;
  object-fit: cover;
}

.evolution-content p {
  padding-top: 4rem;
  text-align: justify;
  border-top: 2px solid var(--text-light);
}

.feature-section {
  margin: 6rem 0;
  position: relative;
  isolation: isolate;
}

.feature-section::before,
.feature-section::after {
  position: absolute;
  content: "";
  background-color: var(--black);
  inset: 0;
  z-index: -1;
}

.feature-section::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  transform: skewY(8deg);
}

.feature-section::after {
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  transform: skewY(-8deg);
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.feature-image img {
  max-width: 550px;
  margin: auto;
}

.feature-content {
  margin: auto;
}

.feature-content .section-title {
  width: 100%;
  margin-bottom: 4rem;
  color: var(--white);
}

.feature-content ul {
  list-style: none;
  max-width: 400px;
}

.feature-content li {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 1rem;
  color: var(--white);
}

.feature-content li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  height: 12px;
  width: 2px;
  background-color: var(--primary-color);
}

.gallery-container .section-title {
  width: 100%;
}

.gallery-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.gallery-col:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer {
  background-color: var(--black);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-col img {
  max-width: 100px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: var(--white);
}

.footer-col li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  height: 12px;
  width: 2px;
  background-color: var(--primary-color);
}

.footer-col h4 {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: fit-content;
}

.socials span {
  display: inline-block;
  line-height: 40px;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.socials span:hover {
  color: var(--text-dark);
}

.footer-col form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-col input {
  margin-bottom: 2rem;
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: var(--text-dark);
  font-size: 1rem;
  background-color: var(--extra-light);
}

.footer-col input::placeholder {
  color: var(--text-light);
}

.footer-col button {
  width: 30px;
  height: 40px;
  border: none;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  font-size: 25px;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-col p {
  color: var(--white);
}

@media (max-width: 900px) {
  .feature-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .gallery-col:nth-child(2) {
    gap: 1rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }

  .evolution-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}