/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");

:root {
  --color-dark: #050505e6;
  --color-light: #fff;
  --color-green: #019f55;
  --color-grey: #424242e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--color-dark);
}

.container {
  width: 700px;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.container h1 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--color-dark);
  text-align: center;
}

.container h1 span {
  color: var(--color-green);
  padding: 2px;
  border-bottom: 2px solid var(--color-green);
}

.wrapper {
  margin: 1.25rem 1.75rem;
}

.input-box {
  position: relative;
  margin-bottom: 10px;
}

.input-box input {
  width: 100%;
  height: 50px;
  color: var(--color-grey);
  background: none;
  outline: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 2px solid var(--color-grey);
  padding: 0 2.85rem 0 1rem;
}

.input-box input:focus {
  border-color: var(--color-green);
}

.input-box i {
  font-size: 24px;
  position: absolute;
  right: 13px;
  cursor: pointer;
  line-height: 52px;
  color: var(--color-grey);
}

.result-informations {
  margin-top: 15px;
  display: none;
}

.row {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.output-box {
  position: relative;
  margin-bottom: 10px;
}

.output-box span {
  color: var(--color-dark);
}

.output-box input {
  width: 100%;
  height: 50px;
  color: var(--color-grey);
  background: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 2px solid var(--color-grey);
  padding: 0 2.85rem 0 1rem;
}

.row .output-box {
  width: 50%;
}

.search-button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--color-dark);
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 5px;
  margin-top: 10px;
}

.search-button:hover {
  background-color: var(--color-green);
}