@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e6e6e6;
}

main {
    padding: 20px;
    z-index: 1;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100vh;
    border-radius: 0 18px 18px 0;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
    padding: 12px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}

.user-avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info span:last-child {
    font-size: 12px;
    color: #6b6b6b;
}

.side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item:hover:not(.active),
.logout button {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

.logout button {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    background-color: transparent;
    cursor: pointer;
}

.button-open {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.button-open i {
    transform: rotate(180deg);
    transition: transform .3s ease;
}

.item-description {
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width .6s;
    font-size: 14px;
}

.sidebar:is(.open-sidebar) {
    min-width: 15%;
}

.sidebar:is(.open-sidebar) .item-description {
    width: 150px;
    height: auto;
}

.sidebar:is(.open-sidebar) .side-item a {
    justify-content: flex-start;
    gap: 14px;
}