@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50em;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Header */
header {
    display: flex;
    justify-content:end;
    padding: 25px 48px;
}

.logo-company {
    width: 80px;
    position:relative;
    top: 10px;
}


/* Serie */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5em;
    position: relative;
    top: -80px;
}

.img-serie {
    width: 300px;
    margin: 2em 0;
}

.ranking {
    color: #2bb8db;
    font-size: 15px;
    text-align: justify;
    font-weight: bold;
}

.propertie {
    color: #d4d0d0;
    font-size: 12px;
    text-align: justify;
    font-weight: bold;
    margin-top: 4px;
    letter-spacing: 0.5pc;
}

.more-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.more-informations p {
    color: #d4d0d0;
    font-size: 13px;
    font-weight: bold;
}

.rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.star img {
    width: 12px;
    filter: invert(1);
}

.age-indication {
    background-color: #000;
    opacity: 85%;
    padding: 3px 5px 2px 5px;
    border-radius: 5px;
}

.resume-serie {
    color: #d4d0d0;
    font-size: 15px;
    text-align: justify;
    width: 80%;
}

.div-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 2em;
}

.button-play {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    height: 52px;
    font-size: 15px;
    color: #fff;
    border-bottom: 3px solid #fff;
    background: #0c89c7;
    transition: all .3s;
}

.button-opiton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: #000;
    opacity: 50%;
    transition: all .3s;
}

.button-play:hover {
    background: #0a4d6e;
}

.play {
    width: 1.5em;
    filter: invert(1);
}

.play-text {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.add-option {
    width: 1.8em;
    filter: invert(1);
}

.info-option {
    width: 2em;
    filter: invert(1);
}