@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

:root {
    --color-dark: #050505e6;
    --color-light: #fff;
    --color-brown: #a52a2a;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: var(--color-dark);
}

.container {
    width: 800px;
    background-color: var(--color-light);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 8px;
}

.generated {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--color-dark);
    border: none;
    outline: none;
    color: var(--color-light);
    padding: 15px 0;
    width: 100%;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e2c2ae6;
}

.input-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    padding: 0 10px;
}

.button-download {
    width: 10%;
    height: 50px;
}