/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #050505e6;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: #222;
  padding: 14px 22px;
  border: none;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
}

#button-show-modal {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#button-show-modal:hover {
  background-color: #454944;
  color: #fff;
}

#button-show-modal,
.div-modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.active #button-show-modal {
  display: none;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.active #overlay {
  opacity: 1;
  pointer-events: auto;
}

/* 
pointer-events
  - é uma propriedade CSS que controla como o elemento responde a eventos do ponteiro do mouse.
*/
.div-modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

.active .div-modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.div-modal-box i {
  font-size: 70px;
  color: #4070f4;
}

.div-modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}

.div-modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.div-modal-box .buttons {
  margin-top: 25px;
}

.div-modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
  color: #fff;
}

#button-close {
  background-color: #ed5846;
}

#button-close:hover {
  background-color: #aa2617;
}

#button-open {
  background-color: #60c74c;
}

#button-open:hover {
  background-color: #3d9f2a;
}